<h1>Bah Calculator</h1>

<%= form_tag bah_path do %>
  <table width="400" border="2" style="border-collapse:collapse; border-color:#cccccc" bgcolor="#FFFFFF" cellpadding="3">
    <tbody>
      <tr>
        <td height="121" style="text-align:center"><br>
          <table width="100%" border="0" cellpadding="6" cellspacing="0">
            <tbody>
              <tr>
                <td width="34%" style="text-align:center; color:black;" ><b>ZIP CODE:</b></td>
                <td width="33%" style="text-align:center; color:black;" ><b>PAY GRADE:</b></td>
              </tr>
              <tr>
                <td width="34%" style="text-align:center"><%= text_field_tag(:zipcode) %></td>
                <td width="33%" style="text-align:center">
                  <%= select_tag :rank,
                    options_for_select(
                      [
                         'E-1', 'E-2', 'E-3',
                         'E-4', 'E-5', 'E-6',
                         'E-7', 'E-8', 'E-9',
                         'W-1', 'W-2', 'W-3',
                         'W-4', 'W-5', 'O1E',
                         'O2E', 'O3E', 'O-1',
                         'O-2', 'O-3', 'O-4',
                         'O-5', 'O-6', 'O7+'
                        ]
                    )
                  %>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
            <%= submit_tag("CALCULATE") %>
            <br>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>


<%= react_component("BAHCalculator", {mhaBahJson: @mhaBahJson})%>
